@use "../../styles/shared.scss" as shared;

.container {
    width: 100%;
    background-color: white;

    button {
    width: 100%;
    border: none;
    border-top: 1px solid whitesmoke;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 1rem;


    &:hover {
        color: #838383;
        border-top: 1px solid black;
    }
    }

}

.input {
    width: 39rem;
    height: 5rem;

    box-sizing: border-box;
    padding: 0 2rem;

    border: 1px solid #f8f4f4;
    border-radius: 1rem;
    object-fit: contain;
    background: url("/search-normal.png") no-repeat right;
    background-position: 35rem;

    ::placeholder {
        color: #838383;
    }
    }
