@use "../../styles/shared.scss" as shared;

.container {
  display: grid;
  width: 35em;
  height: 30em;
  padding: 0.5em 2em;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);

  border-radius: shared.$b-radius;
  box-shadow: shared.$b-shadow;

  @include shared.tablet-only {
    width:25rem;
    flex-wrap: nowrap;
  }

  * {
    grid-column: 1 /7;
  }
}

.header {
  grid-row: 1 / 2;
  display: flex;

  img {
    object-fit: contain;
    max-width: 80%;
    margin-right: 1em;
  }

  .titles {
    align-self: center;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 0.3em;
    }
    p {
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }
}

.graph {
  grid-row: 2 / 5;
  
  @include shared.tablet-only {
    //width:30rem;
    flex-wrap: nowrap;
  }
}

.footer {
  align-self: center;
  grid-row: 5 /6;

  display: flex;
  justify-content: space-between;

  font-size: 1.8em;

  span {
    align-self: center;
  }
}
