@use "shared.scss" as shared;

* {
  margin: 0;
  padding: 0;

  @include shared.font-uni-neue(600);
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ffffff;

  button {
    &:hover {
      cursor: pointer;
    }
  } 

}


