@use "shared.scss" as shared;
@import url('https://fonts.cdnfonts.com/css/kiro');

* {
  margin: 0;
  padding: 0;

  @include shared.font-uni-neue(600);
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ffffff;
  
}
