@use "../../styles/shared.scss" as shared;

.searchBar {
width: 100%;

    @include shared.not-mobile {
        grid-row: 1 /2;
        display: flex;
        justify-content: space-between;
        position: relative;

        margin: 2rem 0;
    }
    
    @include shared.mobile-only {
        height: 12rem;
        display: flex;
        padding: 2rem;
    }
}

.form {
    position: absolute;

    @include shared.not-mobile {
    right: 2%;
}

    @include shared.mobile-only {
        top: 10%;
    }
}