@use "../../styles/shared.scss" as shared;

.boardContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @include shared.mobile-only {
        margin-top: 2rem;
    }
}

.exchangeContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}